import { HttpClient } from '@angular/common/http';
import { inject } from '@angular/core';

import { API_BASE_URL } from './_api-base-url.token';

export abstract class ApiBaseService {
  protected readonly httpClient = inject(HttpClient);
  protected readonly apiBaseUrl = inject(API_BASE_URL);
  abstract readonly endpoint: string;

  getUrl(url: string = ''): string {
    const path = ['api', this.endpoint, url]
      .filter(Boolean)
      .join('/')
      .replace(/\/+/g, '/');

    return this.apiBaseUrl
      ? `${this.apiBaseUrl.replace(/\/$/, '')}/${path}`
      : `/${path}`;
  }
}
