node_modules
mocks
tsconfig.json
tsconfig.*.json
eslint.config.mjs
package-lock.json

# Test files
karma.conf.js
tests
jest.global-setup.js

# Ignores TypeScript files, but keeps definitions.
*.ts
!*.d.ts
