<%= transformRefsToImport(importRefs, optionsPath, sourcePath) %>

<%= typeDoc %>export interface I<%= classify(name) %> {
<%= interfacePropertyLine(propertiesContent, indentSize, aggregatable, propertyDocs) %>
}<%= aggregatableColumnsType('I' + classify(name), aggregatable) %>
