import { Injectable } from "@angular/core";
import { ApiBaseService } from "<%= baseApiImportPath %>";
import { Observable } from "rxjs";
<% if (apiList.some(item => item.hasOmittableQueryParams)) { %>
import { omitBy, isNil } from 'lodash-es';
<% } %>

<%= transformRefsToImport(importRefs, path, `${path}/${dasherize(name)}-api.service`) %>

@Injectable({
  providedIn: 'root',
})
export class <%= classify(name) %>ApiService extends ApiBaseService {
  endpoint = '<%= name %>';

  constructor() {
    super();
  }
<% for (let item of apiList) {
  let httpCallArgs = buildHttpCallArgs(item);
%>
  <%= item.apiMethodName %>(<%= item.apiMethodParams %>): Observable<<%= item.responseTypeSymbol %>> {
<% /* Binary responses use the untyped overload: responseType 'blob' in options makes it Observable<Blob> */
   let responseGeneric = item.isBinaryResponse ? '' : `<${item.responseTypeSymbol}>`;
if (httpCallArgs.length > 0) { %>    return this.httpClient.<%= item.requestMethod %><%= responseGeneric %>(
      this.getUrl(<%= item.apiUrlFormatted %>),
      <%= httpCallArgs.join(',\n      ') %>
    );
<% } else { %>    return this.httpClient.<%= item.requestMethod %><%= responseGeneric %>(
      this.getUrl(<%= item.apiUrlFormatted %>)
    );
<% } %>  }
<% } %>}
